<h1>Products</h1>
{% for product in products %}
<div>
    <a href="/show/{{ product.id }}">{{ product.name }}</a>
    <ul>
        <li>Price: {{ product.price }}</li>
        <li>Amount: {{ product.amount }}</li>
        <li>Description: {{ product.description }}</li>
    </ul>
    <form method="post" action="/buy/{{ product.id }}">
        <input type="number" name="amount" min="1" max="{{ product.amount }}">
        <button type="submit">Add to cart</button>
    </form>
</div>

{% endfor %}
<form method="get" action="/cart"><button type="submit">Show my cart</button></form>